@media (max-width: 991.98px) {
    .app-header .navbar-toggler.mr-auto {
        margin-right: 75px !important;
    }

    .app-header .navbar-brand {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
    }
}

.minicolors-theme-bootstrap .minicolors-swatch {
    top: 5px;
    left: 5px;
}
